.available_vehicles_carousel {
    max-width: 1500px;
    display: flex;
    overflow: hidden;
    gap: 20px;
    position: relative;
    z-index: 1;
    padding: 25px 23px 25px 20px;
}

.available_vehicle_card {
    cursor: pointer;
    flex: 0 0 100%;
    max-width: calc((100% / 3) - 12px);
    border: 1px solid var(--black-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    height: 560px;
    transition: .3s;
    overflow: hidden;

    &:hover {
        background-color: var(--white-color);
        translate: 0 -20px;

        >.vehicle_info_block {
            background-color: #e11111;
        }
    }
}

.vehicle_image_wrapper {
    max-width: 540px;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vehicle_image {
    object-fit: cover;
    width: 100%;
    filter: drop-shadow(2px 1px 5px rgba(0, 0, 0, 0.7));
}

.vehicle_info_block {
    width: 100%;
    height: 30%;
    outline: 1px solid black;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #bf0000;
    color: var(--white-color);
    transition: .3s;
}