
.burger_menu_btn {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    transition: .3s;
    position: relative;
}

.burger_menu_top {
    display: block;
    width: 45px;
    height: 5px;
    background-color: var(--white-color);
}

.burger_menu_middle {
    display: block;
    width: 45px;
    height: 5px;
    background-color: var(--white-color);
}

.burger_menu_bottom {
    display: block;
    width: 45px;
    height: 5px;
    background-color: var(--white-color);
}

.burger_active {
    gap: 0;

    > .burger_menu_top {
        position: absolute;
        top: 24px;
        transform: rotateZ(45deg);
        transition: .3s;
    }
    > .burger_menu_middle {
        opacity: 0;
    }
    > .burger_menu_bottom {
        position: absolute;
        top: 24px;
        transform: rotateZ(-45deg);
        transition: .3s;
    }
}

.burger_menu {
    width: 50%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    backdrop-filter: blur(10px);
}

.burger_menu_list {
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: 'Gotham';
}

.list_item {
    font-size: 20px;
    gap: 15px;
}

.item_string {
    justify-content: center;
}

.burger_menu_block {
    padding: 145px 20px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.burger_menu_whatsapp_link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Roboto';
    font-size: 23px;
}

.burger_menu_links {
    font-size: 23px;
    gap: 36px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Gotham';
}

.burger_menu_link_item {
    padding: 0;
}

.burger_menu_goback {
    background: none;
    border: none;
}

.burger_menu_selected_option {
    font-family: 'Gotham Bold';
    font-size: 32px;
    transition: .3s;
    color: var(--white-color);
    font-weight: 500;
}

.burger_items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.burger_item {
    width: 100%;
    height: 55px;
    font-family: "Gotham";
    font-size: 24px;
}

.burger_link {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}


@media (max-width: 425px) {
    .burger_menu {
        width: 100%;
    }
}