.vehicles_categories {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(200, 200, 200);
}

.vehicles_categories_blocks_wrapper {
    width: 60%;
    padding: 20px;
    border-radius: 25px;
}

.vehicles_categories_blocks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.vehicle_category {
    cursor: pointer;
    display: flex;
    width: 45%;
    height: 320px;
    align-items: flex-end;
    justify-content: flex-start;
    background-color: rgb(215, 215, 215);
    border-radius: 20px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
    transition: .3s;

    &:hover {
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.705);

        > .vehicle_category_header {
            transition: .3s;
            font-size: 45px;
            color: var(--black-color);

            /* &::after {
                content: '';
                position: absolute;
                display: block;
                top: 30px;
                width: 100%;
                height: 25px;
                background: linear-gradient(180deg, rgba(255,225,225,0.3) 35%, rgba(255, 51, 51, 0.5) 65%);
                z-index: -1;
                filter: blur(1px);
            } */
        }

        > .vehicle_category_image {
            scale: 1.1;
        }
    }

    &:active {
        transition: .1s;
        scale: 0.95;
    }
}

.vehicle_category_header {
    font-family: 'Gotham';
    font-size: 36px;
    position: absolute;
    top: 12%;
    right: 10%;
    color: rgb(41, 41, 41);
    z-index: 1;
}

.vehicle_category_image {
    transition: .3s;
    padding: 0 0 20px 40px;
    max-width: 295px;
}

.right_block {
    justify-content: flex-end;
}

.right_block_header {
    left: 10%;
}

.right_block_image {
    padding: 0 50px 20px 0;
}

.special_vehicle_image {
    max-width: 340px;
}

@media (max-width: 1366px) {
    .vehicles_categories_blocks_wrapper {
        width: 70%;
    }

    .vehicle_category {
        height: 290px;
    }

    .vehicle_category_header {
        top: 7%;
    }

    .vehicle_category_image {
        max-width: 290px;
    }
}

@media (max-width: 768px) {
    .vehicles_categories_blocks_wrapper {
        width: 95%;
    }

    .vehicle_category:hover {
        >.vehicle_category_header {
            font-size: 30px;
        }
        
        >.vehicle_category_image {
            scale: 1;
        }
    }

    .vehicle_category_header {
        top: 8%;
        font-size: 30px;
    }

    .vehicle_category_image {
        max-width: 265px;
        padding: 0 0 30px 20px;
    }

    .right_block_image {
        padding: 0px 24px 15px 0;
    }

    .motorcycle_img {
        max-width: 225px;
    }
}