.vehicles_categories {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vehicles_categories_blocks_wrapper {
    width: 60%;
    padding: 20px;
    border-radius: 25px;
}

.vehicles_categories_blocks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.vehicle_category {
    cursor: pointer;
    display: flex;
    width: 45%;
    height: 350px;
    align-items: flex-end;
    justify-content: flex-start;
    background-color: rgba(200, 200, 200);
    border-radius: 20px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
    transition: .3s;

    &:hover {
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.5);

        > .vehicle_category_header {
            transition: .3s;
            font-size: 45px;
            color: var(--black-color);
        }

        > .vehicle_category_image {
            scale: 1.2;
        }
    }

    &:active {
        transition: .1s;
        scale: 0.95;
    }
}

.vehicle_category_header {
    font-family: 'Gotham';
    font-size: 32px;
    position: absolute;
    top: 15%;
    right: 10%;
    color: rgb(70, 70, 70);
}

.vehicle_category_image {
    transition: .3s;
    padding: 0 0 20px 40px;
    max-width: 305px;
}

.right_block {
    justify-content: flex-end;
}

.right_block_header {
    left: 10%;
}

.right_block_image {
    padding: 0 50px 20px 0;
}

.special_vehicle_image {
    max-width: 350px;
}

@media (max-width: 1366px) {
    .vehicles_categories_blocks_wrapper {
        width: 70%;
    }

    .vehicle_category {
        height: 290px;
    }

    .vehicle_category_header {
        top: 7%;
    }

    .vehicle_category_image {
        max-width: 290px;
    }
}

@media (max-width: 768px) {
    .vehicles_categories_blocks_wrapper {
        width: 95%;
    }

    .vehicle_category:hover {
        >.vehicle_category_header {
            font-size: 30px;
        }
        
        >.vehicle_category_image {
            scale: 1;
        }
    }

    .vehicle_category_header {
        top: 8%;
        font-size: 30px;
    }

    .vehicle_category_image {
        max-width: 265px;
        padding: 0 0 30px 20px;
    }

    .right_block_image {
        padding: 0px 24px 15px 0;
    }

    .motorcycle_img {
        max-width: 225px;
    }
}