.header_wrapper {
    width: 100%;
    margin-top: 35px;
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: center;
    top: 0;
    transition: .3s ease-in;
}

.black_bg {
    margin-top: 0;
    padding: 10px 0;
    backdrop-filter: blur(25px);
    background-color: rgba(0, 0, 0, 0.5);
}

.header_container {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    font-family: 'Gotham';
}

.header_contacts {
    display: flex;
    color: var(--white-color);
    gap: 15px;
}

.header_links {
    font-size: 18px;
    gap: 25px;
    display: flex;
}

.logo_wrapper {
    display: flex;
    align-items: center;
}

.logo {
    background: url(/public/images/logo_transparent.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 160px;
    height: 100px;
}

.contacts_block {
    display: flex;
    gap: 25px;
}

.list_item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 18px;
}

.item_string {
    display: flex;
    gap: 10px;
    min-height: 30px;
    align-items: center;
    min-width: 175px;
    justify-content: flex-start;
    font-family: 'Helvetica';
    font-size: 20px;
}

.fill_red {
    transition: .2s;
    fill: var(--fill-color);
}


.more_contacts {
    width: 60px;
    display: flex;
    justify-content: flex-start;
}

.show_more {
    width: 20px;
    height: 20px;
    position: relative;
}

.messagers_block {
    display: flex;
    gap: 8px;
}

.link_item {
    display: flex;
    align-items: flex-end;
    gap: 5px;
    position: relative;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    
}

.active_link_item {
    background-color: var(--fill-color);
    transition: .3s;
    border-radius: 24px 0px 0px 0px;
}

.link_triangle {
    transform: rotate(-180deg);
    transition: .5s;
}

.link_triangle_opened {
    transform: rotate(0);
    transition: .5s;
}




.tg:hover {
    fill: rgb(51, 184, 255);
    transition: .2s;
    scale: 1.5;
}

.phone_number_watsapp {
    color: rgb(10, 211, 68);
}

.phone_number_tg {
    color: rgb(51, 184, 255);
}

.bottom_links {
    position: fixed;
    bottom: 0;
    right: 30%;
    z-index: 1;
    display: flex;
    gap: 25px;
}

.bottom_link {
    cursor: pointer;
    background-color: var(--white-color);
    width: 50px;
    height: 55px;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    translate: 0 5px;
    transition: .2s;
}

.bottom_link_redirector {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

.messager_logo {
    width: 25px;
    height: 25px;
}

.whatsapp_label:hover {
    translate: 0 0;
    transition: .2s;


    > .whatsapp {
        fill: rgb(10, 211, 68);
        transition: .2s;
    }
}

.vk_label:hover {
    translate: 0 0;
    transition: .2s;

    > .vk {
        fill: rgb(0, 51, 161);
        transition: .2s;
    }
}

@media (max-width: 1366px) {
    .header_wrapper {
        margin-top: 25px;
    }
    
    .black_bg {
        margin-top: 0;
    }

    .header_container {
        width: 80%;
    }

    .logo {
        width: 140px;
        height: 85px;
    }

    .list_item {
        font-size: 15px;
    }

    .item_string {
        gap: 8px;
        min-height: 25px;
    }
}

@media (max-width: 768px) {
    .burger_menu_btn {
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
        justify-content: center;
        transition: .3s;
        position: relative;
    }

    .burger_menu_top {
        display: block;
        width: 45px;
        height: 5px;
        background-color: var(--white-color);
    }

    .burger_menu_middle {
        display: block;
        width: 45px;
        height: 5px;
        background-color: var(--white-color);
    }

    .burger_menu_bottom {
        display: block;
        width: 45px;
        height: 5px;
        background-color: var(--white-color);
    }

    .burger_active {
        gap: 0;

        > .burger_menu_top {
            position: absolute;
            top: 24px;
            transform: rotateZ(45deg);
            transition: .3s;
        }
        > .burger_menu_middle {
            opacity: 0;
        }
        > .burger_menu_bottom {
            position: absolute;
            top: 24px;
            transform: rotateZ(-45deg);
            transition: .3s;
        }
    }

    .burger_menu {
        width: 50%;
        height: 100%;
        position: fixed;
        right: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 2;
        backdrop-filter: blur(10px);
    }

    .burger_menu_list {
        color: var(--white-color);
        display: flex;
        flex-direction: column;
        gap: 25px;
        font-family: 'Gotham';
    }

    .list_item {
        font-size: 20px;
        gap: 15px;
    }

    .item_string {
        justify-content: center;
    }

    .burger_menu_block {
        padding: 145px 20px 0 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
    }

    .burger_menu_whatsapp_link {
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: 'Roboto';
        font-size: 23px;
    }

    .burger_menu_links {
        font-size: 23px;
        gap: 36px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: 'Gotham';
    }

    .link_item {
        padding: 0;
    }

    .burger_menu_goback {
        background: none;
        border: none;
    }

    .burger_menu_selected_option {
        font-family: 'Gotham Bold';
        font-size: 32px;
        transition: .3s;
        color: var(--white-color);
        font-weight: 500;
    }

    .burger_items {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .burger_item {
        width: 100%;
        height: 55px;
        font-family: "Gotham";
        font-size: 24px;
    }

    .burger_link {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
    }
}

@media (max-width: 425px) {
    /* .header_wrapper {
        width: 100%;
    } */

    .burger_menu {
        width: 100%;
    }
}